<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/agregar.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
  <div class="formul">
    <div id="pedido">
      <h1 id="formP"> Formulario Pedido</h1>
    </div>
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
      <div id="val-box" hidden>
        <h2 id="val-msg">Los siguientes campos son invalidos:</h2>
        <ul id="val-list"></ul>
      </div>
      <form name="form1" method="post" class="formulario" id="formulario" action="pedido" enctype="multipart/form-data">
          <div id="regionn" class="region-input">
            Región: 
              <select id="region" name="region">
                <option selected value="none"> Seleccionar opción</option>
              </select>
          </div>
          <div id="comunas" class="comuna-input">
            Comuna: 
              <select id="comuna" name="comuna">
              </select>
          </div>
          <div id="tipoo" class="tipo-input">
            Tipo pedido: 
              <select id="tipo" name="tipo">
                <option selected value="none"> Seleccionar opción</option>
                <option value="fruta">Fruta</option>
                <option value="verdura">Verdura</option>
                <option value="otro">Otro</option>
              </select>
          </div>
          <div id="descripcion-input" class="grupo-input">
            <label for="descripcion">Descripción</label>
            <input id="descripcion" name="descripcion" maxlength="250" size="80" required>
          </div>
          <div id="cantidad-input" class="grupo-input">
            <label for="cantidad">Cantidad</label>
            <input id="cantidad" name="cantidad" type="text" size="10" required>
          </div>
          <div id="nombre-input" class="grupo-input">
            <label for="nombre">Nombre solicitante</label>
            <input id="nombre" name="nombre" maxlength="80" minlength= "3" size="80" required>
          </div>
          <div id="email-input" class="grupo-input">
            <label for="email">Email</label>
            <input id="email" name="email" size="30" type="email" required>
          </div>
          <div id="celular-input" class="grupo-input">
            <label for="celular">Número celular contacto</label>
            <input id="celular" name="celular" size="15" type="tel">
          </div>
          <div class="botones">
            <button type="button" id="envio">
              Agregar Pedido
            </button>
          </div>
          <div id="confirmacion" hidden>
            ¿Confirma que desea agregar este pedido?
            <button type="button" id="si">
              Sí, confirmo
            </button>
            <button type="button" id="no">
              No, quiero volver al formulario
            </button>
          </div>
          
      </form>

      <div class="inicio">
        <a id="inicio" href="{{ url_for('inicio') }}" >Volver al inicio</a>
    </div>
  </div>
    <script src="{{ url_for('static', filename='js/agregar-pedido.js') }}"></script>

</body>
</html>