<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion-pedido.css')}}">

</head>
<body>
    <div class="info">
    <div>
        <h1 id="pedido">Pedido</h1>
    </div>
    <div class="don">
          {% for ped in data%}
            <p>Región: {{ ped.region }} </p>
                <p>Comuna: {{ ped.comuna }} </p>
                <p>Tipo: {{ ped.tipo }} </p>
                <p>Descripción: {{ ped.descripcion }} </p>
                <p>Cantidad: {{ ped.cantidad }} </p>
                <p>Nombre: {{ ped.nombre }}</p>
                <p>Email: {{ ped.email }}</p>
                <p>Número de celular: {{ ped.celular }}</p>
            <a id="ped" href="{{ url_for('ver_pedido', page=1) }}">Volver a Pedidos</a> 
            {% endfor %}
    </div>
    </div>
    <script  src="{{ url_for('static', filename='js/informacion-pedido.js') }}"></script>
</body>
</html>