<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css">
</head>
<body>
    <h1>Comparte tus cultivos!</h1>
    <div id="intro">
        ¿Te sobraron cultivos y no quieres que se desperdicien? Donalos aquí!
    </div>
    {% if msg %}
    <div class="error-message">{{ msg }}</div>
    {% endif %}
    <div class="botones">
        <span class="agregarD">
            <a id="agregarD" href="{{ url_for('donacion') }}">Agregar Donación</a>
        </span>
        <span class="agregarP">
            <a id="agregarP" href="{{ url_for('pedido') }}">Agregar Pedido</a> 
        </span>
        <span class="verD">
            <a id="verD" href="{{ url_for('ver_donacion', page=1) }}">Ver Donaciones</a>
        </span>
        <div class="verP">
            <a id="verP" href="{{ url_for('ver_pedido', page=1) }}">Ver Pedidos</a>   
        </div>

        <div class="stats">
            <a id="stats" href="{{ url_for('stats') }}">Ver Gráficos</a>   
        </div>
        
    </div>   
    <div class="map-container">
        <div id="map">#</div>
    </div>
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>

    <script src="{{ url_for('static', filename='js/inicio.js') }}"></script>
    
</body>
</html>