<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
</head>
<body>
    <div class="stats-container">
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
                El anterior grafico presenta la cantidad de donaciones por tipo.
            </p>
        </figure>
    </div>

    <div class="stats-container">
        <figure class="highcharts-figure">
            <div id="container2"></div>
            <p class="highcharts-description">
                El anterior grafico presenta la cantidad de pedidos por tipo.</p>
        </figure>
    </div>
    <div class="inicio">
        <a id="inicio" href="{{ url_for('inicio') }}" >Volver al inicio</a>
    </div>
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{url_for('static', filename='js/stats.js')}}"></script>

</body>
</html>