
.formul {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

#donacion, #pedido{
    margin-left: 10px;
    font-style:oblique;
}

#formulario {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#envio, #si {
    background-color:rgb(128, 215, 131);
    cursor: pointer;
}
#no {
    background-color: rgb(224, 96, 122);
    cursor: pointer;
}
#inicio {
    background-color:rgb(154, 181, 255);
    cursor: pointer;
}
