.stats-container {
    padding: 1rem;
    background: white;
    border: 0.2em solid var(--black-color);
    border-radius: 0.25em;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;

}
#inicio {
    background-color:rgb(154, 181, 255);
    cursor: pointer;
}